<body>
    <div class="container">
        <div id="header">
            <a href="#"><img src="../../../assets/cruz.png" alt="Salir"></a>
        </div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombroE">Nombre de la institucion</label>
                <input type="text" name="nombreE" id="nombreE" class="inputEdu" [(ngModel)]="nombreE" required>
            </div>
    
            <div class="form-group">
                <label for="descripcionE">Descripcion de estudios</label>
                <input type="text" name="descripcionE" id="descripcionE" class="inputEdu" [(ngModel)]="descripcionE" required>
            </div>
    
            <div class="form-group">
                <label for="anio">Años de estudio</label>
                <input type="text" name="anio" id="anio" class="inputEdu" [(ngModel)]="anio" required>
            </div>
            
            <div class="bt-agg">
                <button><h4>Agregar educacion</h4></button>
            </div>
            
        </form>
    </div>  

    
</body>


