<div class="proyectos">
    <div class="proyectos-titulo">
        <h2 id="proyectos">Proyectos</h2>
        <hr>
    </div>
    <div class="contenedor">
        <div class="caja">
            <div class="caja-imagen">
                <img src="../../../assets/demo-proyectos.jpg" alt="demo-proyectos" width="100%">
            </div>
            <div class="caja-texto">
                <h2>Aplicacion web para videojuegos</h2>
                <p>Esta app muestra tus estadisticas en tiempo real de tus juegos favoritos</p>
            </div>
            <div class="caja-btn">
                <button><a href="#">Demo</a></button>
                <button><a href="#">Repositorio</a></button>
            </div>
        </div>
    
        <div class="caja">
            <div class="caja-imagen">
                <img src="../../../assets/demo-proyectos.jpg" alt="demo-proyectos" width="100%">
            </div>
            <div class="caja-texto">
                <h2>Aplicacion web para videojuegos</h2>
                <p>Esta app muestra tus estadisticas en tiempo real de tus juegos favoritos</p>
            </div>
            <div class="caja-btn">
                <button><a href="#">Demo</a></button>
                <button><a href="#">Repositorio</a></button>
            </div>
        </div>
    
        <div class="caja">
            <div class="caja-imagen">
                <img src="../../../assets/demo-proyectos.jpg" alt="demo-proyectos" width="100%">
            </div>
            <div class="caja-texto">
                <h2>Aplicacion web para videojuegos</h2>
                <p>Esta app muestra tus estadisticas en tiempo real de tus juegos favoritos</p>
            </div>
            <div class="caja-btn">
                <button><a href="#">Demo</a></button>
                <button><a href="#">Repositorio</a></button>
            </div>
        </div>
    </div>
    
</div>
