<div class="contenedor-edu-exp">
    <div class="educacion">
        <div class="educacion-titulo">
            <h2>Educación</h2>
            <hr>
        </div>
        
        <div class="educacion-contenido">
            <div class="educacion-cont-logo">
                <img src="../../../assets/Cosito_educacion.png" alt="">
            </div>
            <div class="educacion-cont-cont">
                <h2>Instituto del rosario</h2>
                <h4>Bachiller completo en administración de empresas</h4>
                <h4>2014 - 2021</h4>
            </div>
        </div>
    
        <div class="educacion-contenido">
            <div class="educacion-cont-logo">
                <img src="../../../assets/Cosito_educacion.png" alt="">
            </div>
            <div class="educacion-cont-cont">
                <h2>Instituto del rosario</h2>
                <h4>Bachiller completo en administración de empresas</h4>
                <h4>2014 - 2021</h4>
            </div>
        </div>
    
        <div class="educacion-contenido">
            <div class="educacion-cont-logo">
                <img src="../../../assets/Cosito_educacion.png" alt="">
            </div>
            <div class="educacion-cont-cont">
                <h2>Instituto del rosario</h2>
                <h4>Bachiller completo en administración de empresas</h4>
                <h4>2014 - 2021</h4>
            </div>
        </div>
    </div>
    
    <div class="experiencias">
        <div class="experiencias-titulo">
            <h2>Experiencias</h2>
            <hr>
        </div>
        
        <div class="educacion-contenido">
            <div class="educacion-cont-logo">
                <img src="../../../assets/Cosito_educacion.png" alt="">
            </div>
            <div class="educacion-cont-cont">
                <h2>Instituto del rosario</h2>
                <h4>Bachiller completo en administración de empresas</h4>
                <h4>2014 - 2021</h4>
            </div>
        </div>
    
        <div class="educacion-contenido">
            <div class="educacion-cont-logo">
                <img src="../../../assets/Cosito_educacion.png" alt="">
            </div>
            <div class="educacion-cont-cont">
                <h2>Instituto del rosario</h2>
                <h4>Bachiller completo en administración de empresas</h4>
                <h4>2014 - 2021</h4>
            </div>
        </div>
    
        <div class="educacion-contenido">
            <div class="educacion-cont-logo">
                <img src="../../../assets/Cosito_educacion.png" alt="">
            </div>
            <div class="educacion-cont-cont">
                <h2>Instituto del rosario</h2>
                <h4>Bachiller completo en administración de empresas</h4>
                <h4>2014 - 2021</h4>
            </div>
        </div>
    </div>
    
    
</div>
