
.educacion-titulo {
    font-family: 'Mulish', sans-serif;
    font-weight: 700; 
    margin-top: 2em;
    padding: 0.2em 0em;
}

.educacion-titulo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0em;
    margin-top: 2.5em;
    font-size: 1em;
    font-weight: 1000;
}

.educacion-titulo hr {
    width: 15%;
    height: 0.3em;
    margin-bottom: 1.5em;
    background-color: black;
}

.educacion-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0.5em;
    padding: 0em 1em;
}

.educacion-cont-cont {
    font-family: 'Mulish';
}

.educacion-cont-cont h2{
    padding: 0;
    font-size: 1.2em;
    margin: 0;
}

.educacion-cont-cont h4{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.educacion-cont-logo {
    padding-left: 1em;
    padding-right: 1.5em;
}

.experiencias-titulo {
    font-family: 'Mulish', sans-serif;
    font-weight: 700; 
    margin-top: 5em;
    padding: 0.2em 0em;
}

.experiencias-titulo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 1000;
}

.experiencias-titulo hr {
    width: 15%;
    height: 0.3em;
    background-color: black;
}

.experiencias {
    padding-bottom: 1em;
}

/*Animacion fade-in */
.animacion { 
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.7s ease;
    position: none;
}

.animacion.active {
    transform: none;
    opacity: 1;
    position: none;
}

table td {
    padding: 1em;
}

#bt-exp {
    background-color: #fe8462;
}

.td-borde{
    display: flex;
    margin: 0em;
    padding: 0em;
    border-spacing: 0em;
    flex-direction: column;
    align-items: flex-start;
    
}

.bt-aggEdu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.bt-aggEdu h4 {
    font-family: 'Mulish', sans-serif;
    margin: 1em 0;
    color: white;
    font-size: 1.1em;
}

.bt-aggEdu button {
    width: 15em;
    border-radius: 2em;
    background-color: #8789C0;
    border: 0em;
    cursor: pointer;
}

.bt-aggEdu button:hover {
    background-color: #6b6ca4;
}

.bt-edicion {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.bt-edicion button{
    padding-right: 1em;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    border: none;
}

.bt-edicion button img{
    height: 2.2em;
    width: 2.2em;
}


#img-tamaño {
    height: 2.4em;
    width: 2.4em;
}

@media (min-width:800px) {
    .contenedor-edu-exp {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6%;
    }


    .experiencias-titulo {
        margin-top: 0;
    }

    .educacion-titulo {
        margin-top: 0;
    }

    .experiencias-titulo h2 {
        margin-top: 0;
        font-size: 2em;
    }

    .educacion-titulo h2 {
        margin-top: 0;
        font-size: 2em;
    }

    .experiencias {
        padding: 0;
    }

    .educacion-cont-cont {
        font-size: 1.2em;
    }

    .educacion-cont-logo{
        font-size: 2em;
     }

    .educacion-cont-logo img {
       font-size: 2em;
    }
}

@media (max-width:800px) {
    .experiencias-titulo h2 {
        font-size: 2em;
    }

    .educacion-titulo h2 {
        font-size: 1.5em;
    }

    .experiencias-titulo h2 {
        font-size: 1.5em;
    }
}

