
<header>
    <div class="menu-principal" id="menu-principal">
        <div class="menu-logo">
            <a href="#"><img src="../../../assets/logo_argentinaPrograma.png" alt="logo_argentinaPrograma"></a>
        </div>

        <div class="menu-desktop">
            <nav class="menu-d-items">
                <a href="#acerca-de-mi">ACERCA DE MI</a>
                <a href="#skills">SKILLS</a>
                <a href="#educacion">EDUCACION</a>
                <a href="#proyectos">PROYECTOS</a>
                <a href="#contacto">CONTACTO</a>
                <!-- Cambiar display-->
                <a (click)="login()" *ngIf="!isLogged">LOGIN</a>
                <a (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</a>
            </nav>

        <!-- Mobile design -->
        <div>
            <button class="menu-btn" id="menu-btn" (click)="OnClick()">
                <img src="../../../assets/menu.png" alt="menu">
            </button>
        </div>
        </div>    
    </div>
    
        <nav class="menu-items" id="menu-items" >
            <a href="#acerca-de-mi">ACERCA DE MI</a>
            <a href="#skills">SKILLS</a>
            <a href="#educacion">EDUCACION</a>
            <a href="#proyectos">PROYECTOS</a>
            <a href="#contacto">CONTACTO</a>
            <a (click)="login()" *ngIf="!isLogged">LOGIN</a>
            <a (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</a>
        </nav>
    
</header>

