<div class="contacto">
    <div class="contacto-titulo">
        <h2 id="contacto">Contacto</h2>
        <hr>
    </div>
    <div class="contacto-subtitulo">
        <h4>¡Construyamos algo juntos!</h4>
    </div>
    
    <div class="contacto-contenido">
       <div class="contacto-items">
        <a href="https://www.linkedin.com/in/valentino-terreno-89372a232/" target="_blank"><img src="../../../assets/logo_linkedin.png" width="60%" alt="logo_linkedin"></a>
        <h4>Contáctame</h4>
       </div>

       <div class="contacto-items">
        <a href="https://twitter.com/valen_terreno" target="_blank"><img src="../../../assets/logo_twitter.png" width="60%" alt="logo_twitter"></a>  
        <h4>Sígueme</h4>
       </div>

       <div class="contacto-items">
        <a href="https://github.com/vterreno" target="_blank"><img src="../../../assets/logo_github.png" width="60%" alt="logo_github"></a>  
        <h4>Sígueme</h4>
       </div>

       <div class="contacto-items">
        <a href="mailto:ninot2016@gmail.com"><img src="../../../assets/logo_gmail.png" width="60%" alt="logo_gmail"></a>
            
        <h4>Contáctame</h4>
       </div>
        
    </div>
</div>
