<div class="container">
    <div class="container-titulo">
        <div>
            <h2 id="acerca-de-mi">Acerca de mi</h2>
            <hr>
        </div>
        <div>
            <Button routerLink="/editacercade/1" *ngIf="isLogged" class="bt-edit"><img
                src="../../../assets/edit (1).png" alt="editar" id="img-tamaño"></Button>
        </div>
        
    </div>

    <div class="container-mensaje">
        <p>{{persona?.descripcion}}</p>
    </div>

    <div class="boton-cv">
        <button><a href="{{persona?.pdf}}" download="CV">Descargar CV</a></button>
    </div>
</div>




