.container-titulo {
    font-family: 'Mulish', sans-serif;
    font-weight: 700; 
}

.container-titulo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 1000;
}

.container-titulo hr {
    width: 15%;
    height: 0.3em;
    background-color: black;
}

.container-mensaje {
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 1em 2em;
}

.boton-cv {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
.boton-cv button{
    border-radius: 10px;
    font-family: 'Mulish';
    background-color: #FC7753;
    border: #FC7753;
    padding: 0.5em 1em;
    text-decoration: none;
}

.boton-cv button a {
    text-decoration: none;
    color: white;
}

.boton-cv button:hover {
    background-color: #f95f35;
}


@media (min-width:760px) {
    .container-titulo h2 {
        font-size: 2em;
        display: inline-block;
        margin: 0em 1.2em;
        margin-top: 2em;
        margin-bottom: 0.5em;
        border-bottom: 6px solid black;
    }

    hr {
        display: none;
    }

    .container-mensaje {
        font-size: 1.2em;
        margin: 0;
        padding-top: 0;
    }

    .boton-cv button {
        font-size: 1em;
    }

    #acerca-de-mi {
        scroll-margin-top: 10.5em;
    }
}

