body {
    background: linear-gradient(120deg, #ad5389, #3c1053);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
}

div {
    display: flex;
    flex-direction: column;
}

.form-group-nombre {
    display: flex;
    flex-direction: row;
}

.form-group-nombre input {
    width: 20em;
}


.form-group-descripcion textarea {
    resize: none;
    width: 93%;
    height: 9em;
    margin: 1em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background: white;
    border: 0.1em solid rgb(198, 198, 198);  
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    padding: 2em;

}

.container input {
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.3em;
    border: 0.1em solid rgb(198, 198, 198);

}

.container label {
    color: #3c1053;
    margin-left: 0.7em;
}

input:focus {
    border-color:#d3d0ff;
}

.bt-agg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt-agg button {
    background-color: none;
    width: 17em;
    border-radius: 2em;
    background-color: #ad5389;
    border: 0em;
    cursor: pointer;
    margin-top: 2em;
}

.bt-agg button:hover {
    background-color: #73375b;
}

h4 {
    color: white;
    font-size: 1em;
}

#header {
    width: auto;
    border-radius: 1em;
    display: flex;
    background-color: #ad5389;
    align-items: flex-end;
    padding: 1em;
    margin-bottom: 1em;
}


#header a img{
    height: 1.5em;
    padding-right: 2em;
    font-size: 0.5em
}

@media (max-width:500px) {
    body {
        height: 115vh;
    }

    .form-group-descripcion{
        margin-right: 1.6em;
    }
    #header {
        width: 89%;
    }

    .bt-agg button {
        margin: 1em 0em;
    }

    #header a img {
        padding-right: 0.5em;
    }

    .form-group-nombre{ 
        display: flex;
        flex-direction: column;
    }

    .form-group-nombre input {
        width: auto;
    }

    .container {
        font-size: 0.8em;
        width: 70%;
        height: fit-content;
        padding: 0.7em;
    }

    .login-contenedor h1 {
        padding: 0 0 10px 10px;
    }

    .login-input label {
        font-size: 1.8em;
    }

    .login-registrarse {
        font-size: 1.8em;
    }

}

