<body>
    <div class="login-contenedor">
        <h1>Bienvenido</h1>
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="login-input">
                <input type="text" id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
                <label>Usuario</label>
                <span></span>
            </div>
            <div class="login-input">
                <input type="password" id="password" [(ngModel)]="password" name="password" required>
                <label>Contraseña</label>
                <span></span>
            </div>
            <input type="submit" value="Login">
            <div class="login-registrarse">
                <a href="#">Registrarse</a>
            </div>
        </form>
    </div>

    <div class="header">
        <img src="../../../assets/logo_argentinaPrograma.png" alt="logo_argentinaPrograma">
        <a href="#"><img src="../../../assets/cruz.png" alt="Salir"></a>
    </div>

    <div class="footer">
        <p>Copyright © 2022, @vterreno</p>
        <p>All rights reserved</p>
    </div>

</body>