body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(120deg, rgba(64,61,88,1) 0%, rgba(135,94,101,1) 38%, rgba(250,149,121,1) 100%);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.login-contenedor {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.login-contenedor h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver ;
}

.login-contenedor form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .login-input {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.login-input input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.login-input label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.login-input span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #696493;
    transition: .4s;
}

.login-input input:focus ~ label,
.login-input input:valid ~ label {
    top: -5px;
    color: #696493;
}

.login-input input:focus ~ span::before,
.login-input input:valid ~ span::before {
   width: 100%; 
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #696493;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none; 
}

input[type="submit"]:hover {
    border-color:#696493;
    transition: .5s;
}

.login-registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}

.login-registrarse a{
    color: #696493;
    text-decoration: none;
}

.login-registrarse a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}


.header a img{
    height: 1.5em;
    padding-right: 1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #403D58;
    color: white;
    font-family: 'Mulish';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5em 0em;
    font-size: 0.7em;
}

.footer p {
    margin: 0;
}

@media (max-width:500px) {

    .login-contenedor {
        font-size: 0.5em;
        width: 300px;
    }

    .login-contenedor h1 {
        padding: 0 0 10px 10px;
    }
    .login-input label {
        font-size: 1.8em;
    }

    input[type="submit"] {
        height: 35px;
        font-size: 1.8em;
    }

    .login-registrarse {
        font-size: 1.8em;
    }

}