.banner-background {
    background-image: url("../../../assets/banner.png");
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}

.banner-fotoperfil {
    padding: 2em 1em;
}

.banner-mensaje {
    font-family: 'Mulish', sans-serif;
    color: white;
    margin-bottom: 3em;
}

.banner-mensaje h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

.banner-mensaje h6 {
    margin: 0;
    font-size: 0.8em;
}

@media (min-width:560px) {
    .banner-background {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .banner-mensaje {
        margin-top: 3em;
    }

    .banner-fotoperfil img {
        font-size: 2em;
        width: 100%;
        height: 100%;
        height: auto;
    }

    .banner-fotoperfil {
        width: 10em;
    }
}

@media (min-width: 760px) {
    .banner-mensaje {
        font-size: 1.5em;
    }

    .banner-fotoperfil {
        width: 12em;
    }
}