<div class="skills-background" id="skills">
    <div class="skills-titulo">
        <h2>Skills</h2>
        <hr>
    </div>

    <table>
        <div class="contenedor">
            <tr *ngFor="let Skills of skills">
                <td>
                    <h4 class="skill-titulo">{{Skills.titulo}}</h4>
                    <span class="bar"><img class="html" width="{{Skills.porcentaje}}" src="../../../assets/rectangulo.png"></span>
                    <div id="bt-edit">
                        <Button routerLink="/editskill/{{Skills.id}}" *ngIf="isLogged"><img
                            src="../../../assets/edit (1).png" alt="editar" id="img-tamaño"></Button>
                        <button (click)="deleteSkill(Skills.id)" *ngIf="isLogged"><img
                            src="../../../assets/delete (1).png" alt="borrar"></button>
                    </div>
                </td>
            </tr>
        </div>
           
    </table>
    
    <div class="bt-aggEdu">
        <button type="button" *ngIf="isLogged" routerLink="/nuevoskill">
            <h4>Agregar Skill</h4>
        </button>
    </div>
</div>
