<div class="skills-background" id="skills">
    <div class="skills-titulo">
        <h2>Skills</h2>
        <hr>
    </div>

    <div class="skills-contenedor">
        <div class="skills-tecnicas animacion">
            <div class="skills-subtitulo">
                <h6>Habilidades técnicas</h6>
            </div>
            <ul class="lista">
                <li>
                    <h6>HTML</h6>
                    <span class="bar"><span class="html"></span></span>
                </li>
            
                <li>
                    <h6>CSS</h6>
                    <span class="bar"><span class="css"></span></span>
                </li>
            
                <li>
                    <h6>JAVASCRIPT</h6>
                    <span class="bar"><span class="javascript"></span></span>
                </li>
            
                <li>
                    <h6>ANSI SQL</h6>
                    <span class="bar"><span class="ansi-sql"></span></span>
                </li>
            </ul>
        </div>
    
        <div class="skills-blandas animacion">
            <div class="skills-subtitulo">
                <h6>Habilidades blandas</h6>
            </div>
            <ul class="lista">
                <li>
                    <h6>Comunicación</h6>
                    <span class="bar1"><span class="comunicacion"></span></span>
                </li>
            
                <li>
                    <h6>Trabajo en equipo</h6>
                    <span class="bar1"><span class="tp-equipo"></span></span>
                </li>
            
                <li>
                    <h6>Inglés</h6>
                    <span class="bar2"><span class="ingles"></span></span>
                </li>
            
                <li>
                    <h6>Italiano</h6>
                    <span class="bar2"><span class="italiano"></span></span>
                </li>
            </ul>
        </div>
    </div>
    
    
    
  
</div>
