<div class="skills-background" id="skills">
    <div class="skills-titulo">
        <h2>Skills</h2>
        <hr>
    </div>

    <div class="skills-contenedor">
        <table>
            <tr *ngFor="let Skills of skills">
                <td>
                    <h6>{{Skills.titulo}}</h6>
                    <span class="bar"><img class="html" width="{{Skills.porcentaje}}" src="../../../assets/rectangulo.png"></span>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="bt-aggEdu">
        <button type="button" *ngIf="isLogged" routerLink="/nuevoskill">
            <h4>Agregar Skill</h4>
        </button>
    </div>
</div>
